* {
    font-family: 'Nanum Gothic', sans-serif;
    appearance: none;
    -moz-appearance: none; 
    -webkit-appearance: none;
        -moz-tap-highlight-color:rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin:0px;
    
}

body > header {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:gainsboro;  
}

body > header > div {
    font-weight: bold;
    font-size:20px;

}

	/* 중복아이디 존재하지 않는경우 */
	.id_input_re_1{
		font-size:14px;
		color : green;
		display : none;
	}
	/* 중복아이디 존재하는 경우 */
	.id_input_re_2{
		font-size:14px;
		color : red;
		display : none;
	}

.modal2 {
	display: none;
	z-index: 500;
	width: 100%;
	height: 100vh;
	position: fixed;
	justify-content:center;
	align-items:center;
	top: 0;
	left: 0;
	animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s;
}

.modal2 button {
	background-color:#4caf50;
	font-size:11px;
	width:80px;
	height:40px;
	color:white;
	font-size:12px;
	border-style:none;
	border-width:0px;
	border-radius:5px;
	margin-top:40px;
}

.modal2 > div {
	width:300px;
	height:200px;
	background-color:white;
	border-radius:20px;
	border-style:solid;
	border-width:1px;
}

.modal2 img {
	width:100px;
	height:50px;
}

.modal2 > div {
	display:flex;
	justify-content:center;
	align-items:center;
}

.modal2 > div > div > div {
	display:flex;
	justify-content:center;
	align-items:center;
}

.modaldata {
	font-size:12px;
}


@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section {
    display:flex;
    justify-content: center;
}
article {
    margin-top:50px;
    min-width:40%;
    max-width:50%;
    
    
}

body > header > a{
	padding-bottom:20px;
	text-decoration:none;
	color:black;
	cursor:pointer;
}

body > header > a > i {
    font-size:20px;
    position: absolute;
    left:10px;
    font-weight: bold;
}

form div div{
    display:flex;
    align-items: center;
    justify-content: left;
}

form > div > label {
    margin-top:30px;
    margin-bottom:10px;
    text-align: left;
    display:block;
    font-size:16px;
    font-weight: 400;
}

input[type="text"], input[type="password"] {
    width:100%;
    height:40px;
    border-style:none;
    border-width:0px;
    border-bottom-width:1px;
    border-bottom-style:solid;
}

input[id="familyid"] {
    width:80%;
}

input[id="text"] {
    width:100%;
}

input[type="button"] {
    width:20%;
    height: 40px ;
    margin-left:10px;
    border-radius:15px;
    border-width:1px;
    border-color:#4caf50;
    background-color:white;
    color:#4caf50;
}


.submit input {
    width:100%;
    height: 40px;
    border-radius: 15px;
    border-width:1px;
    background-color:#4caf50;
    border-style:none;
    color:white;
    font-size:13px;
    font-weight:bold;
}

.submit {
    margin-top:30px;
    margin-bottom:50px;
    display:flex;
    justify-content: center;
}

.passcheck {
	margin-top:10px;
}

.idinput {
	margin-bottom:10px;
}

.pass {
	margin-top:10px;
	color:#4caf50;
	font-size:13px;
}



/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media screen and (max-width: 1024px) {
	article {
        margin-top:10px;
        max-width:80%;
        width:70%;
       }
       
       input[type="button"]{
       font-size:10px;
       text-align:center;
       }

}


@media screen and (max-width:700px){
	article {
        margin-top:10px;
        max-width:80%;
        width:70%;
       }
       
       input[type="button"]{
       font-size:10px;
       text-align:center;
       }
    

}


/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media screen and (max-width: 480px) {

	article {
        margin-top:10px;
        max-width:80%;
        width:70%;
       }
       
       input[type="button"]{
       font-size:10px;
       text-align:center;
       }
       
       .pass {
      	 font-size:10px;
       }

}